<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

</head>

	<style type="text/css">
    #login-form .input-group, #login-form .form-group {
        margin-top: 30px;
    }
    
    #login-form .btn-default {
        background-color: #EEE;
    }
    
    .brand {
        color: #CCC;
    }
	.input-group
	{
		    padding-bottom: 10px !important;
	}
    </style>

	<body>
		<div class="container" style="margin-top: 5%;">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<form [formGroup]="ruleForm" >
							<legend>Properties Form</legend>
							
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input type="text" formControlName="branch_id"  placeholder="Enter your branch-id" required class="form-control" />
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="text" formControlName="properties_name" placeholder="Property-name" required class="form-control" />
							</div>
              <div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="text" formControlName="properties_value" placeholder="Property-value" required class="form-control" />
							</div>
              <div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="text" formControlName="propertie_category" placeholder="propertie-category" required class="form-control" />
							</div>
						<div class="form-group">
								<button class="btn btn-primary btn-block" (click)="register()">Submit</button>
							</div>
               <div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="text" formControlName="cab_model" placeholder="cab-model" required class="form-control" />
							</div>
              <div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="text" formControlName="cab_lat" placeholder="lat-value" required class="form-control" />
							</div>
              <div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="text" formControlName="cab_lng" placeholder="lng-value" required class="form-control" />
							</div>
             <div >
								<button class="btn btn-primary btn-block" (click)="cabSearch()" >Execute rule</button>
							</div>
							
							<div class="form-group">
								<hr/>
								<div class="col-sm-6" style="padding: 0;">New user? <a routerLink="/logins">Registered User</a></div>
								<div class="col-sm-6 text-right brand" style="padding: 0;">kodingmadesimple.com</div>
							</div>
						</form>
						<div *ngIf="statusCode">
						   <div *ngIf="statusCode === 200" [ngClass] = "'success'">
								successfully Registered!
						   </div> 
					   </div>
					</div>
				</div>
			</div>
		</div>		
	</body>
</html>
