<!--<html>
<head>
<title>Welcome to APP </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
</head>
	<body>
		<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
			<div class="container">
				<a class="navbar-brand">Angular Router</a>
				    <ul class="nav navbar-nav" routerLinkActive="active">
					<li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="services">Services</a></li>
				</ul>
			</div>
		</nav>

		<router-outlet></router-outlet>
	</body>
</html>-->
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

</head>

	<style type="text/css">
    #login-form .input-group, #login-form .form-group {
        margin-top: 30px;
    }
    
    #login-form .btn-default {
        background-color: #EEE;
    }
    
    .brand {
        color: #CCC;
    }
	.input-group
	{
		    padding-bottom: 10px !important;
	}
    </style>

	<body>
		<div class="container" style="margin-top: 5%;">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<form [formGroup]="loginForm" (ngSubmit)="register();">
							<legend>Registeration Form</legend>
							
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
								<input type="text" formControlName="email"  placeholder="Enter your email-id" required class="form-control" />
							</div>
							<div class="input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
								<input type="password" formControlName="password" placeholder="Password" required class="form-control" />
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" >Submit</button>
							</div>
							
							<div class="form-group">
								<hr/>
								<div class="col-sm-6" style="padding: 0;">New user? <a routerLink="/logins">Registered User</a></div>
								<div class="col-sm-6 text-right brand" style="padding: 0;">kodingmadesimple.com</div>
							</div>
						</form>
						<div *ngIf="statusCode">
						   <div *ngIf="statusCode === 200" [ngClass] = "'success'">
								successfully Registered!
						   </div> 
					   </div>
					</div>
				</div>
			</div>
		</div>
		<h3 align="center">Registered Users</h3>
		<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>User </th>
                <th>Password</th>
                
            </tr>
        </thead>
       
        <tbody>
            <tr *ngFor="let res of login; let i=index">
			   <td>{{i+1}}</td>
			   <td>{{res.email}}</td>
			   <td>{{res.password}}</td>
               
            </tr>
           
        </tbody>
    </table>
	</body>
</html>

<router-outlet> </router-outlet>

