
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
</head>


<style type="text/css">
    #login-form .input-group, #login-form .form-group {
        margin-top: 30px;
    }

    #login-form .btn-default {
        background-color: #EEE;
    }

    .brand {
        color: #CCC;
    }

    .input-group {
        padding-bottom: 10px !important;
    }
</style>

<body>
   <h3 align="center">Registered Users</h3>
    
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>User </th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let res of login; let i=index">
                <td>{{i+1}}</td>
                <td>{{res.email}}</td>
                <td>{{res.password}}</td>

            </tr>

        </tbody>
    </table>
    <div class="form-group">
        <hr />
        <div class="col-sm-6" style="padding: 0;" align="center"><a routerLink="/rule">Back</a></div>
    </div>
</body>
</html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"> </script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<app-propertyform></app-propertyform>

<router-outlet></router-outlet>

